<!-- views/login.ejs -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <!-- BASICS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Edit Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- skin -->
    <link rel="stylesheet" href="skin/default.css">
</head>

<style>
    .placeholder-black::-webkit-input-placeholder {
        color: black !important;
    }
    .placeholder-black:-moz-placeholder {
        /* FF 4-18 */
        color: black !important;
    }
    .placeholder-black::-moz-placeholder {
        /* FF 19+ */
        color: black !important;
    }
    .placeholder-black:-ms-input-placeholder {
        /* IE 10+ */
        color: black !important;
    }
    .placeholder-black {
        border-radius: 4px !important;
    }
</style>

<body ng-app="" ng-controller="index">
<section id="header" class="appear"></section>
<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars color-white"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">Noteshare
            </a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- services --><br><br><br><br>
<section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Change Profile info</h2>

            <!-- LOGIN FORM -->
            <form action="/editprofile" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" placeholder=<%=username%> class="form-control placeholder-black" disabled>
                </div>
                <div class="form-group">
                    <label>Firstname</label>
                    <input type="text" placeholder=<%=firstname%> class="form-control placeholder-black" name="firstname">
                </div>
                <div class="form-group">
                    <label>Lastname</label>
                    <input type="text"   placeholder=<%=lastname%>  class="form-control placeholder-black" name="lastname">
                </div>
                <div class="form-group">
                    <label>College</label>
                    <input type="text"   placeholder=<%=college%>   class="form-control placeholder-black" name="college">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text"  placeholder=<%=email%> class="form-control placeholder-black" name="email">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg" style="border-radius:4px">Save Changes</button>
            </form>
            <hr>

        </div>
    </div>
</section>

<section id="footer" class="section footer">
    <div class="container">
        <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-12 align-center">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row align-center copyright">
            <div class="col-sm-12"><p>Copyright &copy; 2015 <a href="http://noteshare.in/">Noteshare</a></p></div>
        </div>
    </div>

</section>
<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="js/jquery.js"></script>
<script type="text/javascript" src="index.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/fancybox/jquery.fancybox.pack.js"></script>
<script src="js/skrollr.min.js"></script>
<script src="js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="js/jquery.localscroll-1.2.7-min.js"></script>
<script src="js/stellar.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/validate.js"></script>
<script src="js/main.js"></script>
</body>
</html>
