<html>
<head>
    <title>View File</title>
</head>
<body>
    <h1>Name : <%=file.name%></h1>
    --icon--
    <table>
        <tr>
            <td>Views : </td>
            <td><%=file.views%></td>
        </tr>
        <tr>
            <td>Rating : </td>
            <td><%=file.rating%></td>
        </tr>
        <tr>
            <td>Upload date : </td>
            <td><%=file.dateUploaded%></td>
        </tr>
        <tr>
            <td>Department : </td>
            <td><%=file.department%></td>
        </tr>
        <tr>
            <td>Semester : </td>
            <td><%=file.semester%></td>
        </tr>
        <tr>
            <td>Year : </td>
            <td><%=file.year%></td>
        </tr>
    </table>
    <!--<%=JSON.stringify(file)%>-->
    <p>File uploaded by <a href=<%="/profile/view?id="+file.userid%>><%=user.firstname+" "+user.lastname%></a></p>
</body>
</html>